<header class="header">
  <nav>
    <div class="logo">
      <a href="../pages/index.html">
        <img src="../assets/images/logo.png" alt="D2 Health Club Logo">
        <a href="../pages/index.html">
            <img src="../assets/images/logo.png" alt="D2 Health Club Logo">
          </a>
        </div>
        <div class="nav-links">
          <a href="../pages/index.html">Home</a>
          <a href="../pages/support.html">App Support</a>
          <a href="../pages/privacy-policy.html">Privacy Policy</a>
          <a href="../pages/terms-and-conditions.html">Terms</a>
          <a href="mailto:merlin.bergmann@karta.game?subject=I'd like to join the D2 Beta" class="cta-button">Join the Beta</a>
        </div>
  </nav>
</header> 