<header class="header">
  <nav>
    <div class="logo">
      <a href="../../src/pages/index.html">
        <img src="../../src/assets/images/logo.png" alt="D2 Health Club Logo">
      </a>
    </div>
    <div class="nav-links">
      <a href="../../src/pages/index.html">Home</a>
      <a href="../../src/pages/support.html">App Support</a>
      <a href="../../src/pages/privacy-policy.html">Privacy Policy</a>
      <a href="../../src/pages/terms-and-conditions.html">Terms</a>
      <a href="mailto:merlin.bergmann@karta.game?subject=I'd like to join the D2 Health Club" class="cta-button">Join D2</a>
    </div>
  </nav>
</header> 
