<footer class="bg-d2-gray-light py-16 px-8 text-center">
  <div class="mb-4">
    <a href="/privacy-policy" class="mr-10 hover:text-d2-teal transition-colors"
      >Privacy Policy</a
    >
    <a href="/terms-and-conditions" class="hover:text-d2-teal transition-colors"
      >Terms & Conditions</a
    >
  </div>
  <p class="text-gray-400 text-sm">
    &copy; 2025 D2 Health Club. All rights reserved.
  </p>
</footer>
