<header class="p-8 flex flex-col md:flex-row justify-between items-center">
  <a href="/">
    <img src="/images/logo.png" alt="D2 Health Club Logo" class="h-16 w-auto" />
  </a>
  <nav
    class="flex flex-wrap gap-4 items-center justify-center md:justify-start"
  >
    <a href="/" class="hover:text-d2-teal transition-colors">Home</a>
    <a href="/support" class="hover:text-d2-teal">App Support</a>
    <a href="/delete-account" class="hover:text-d2-teal">Delete Account</a>
    <a href="/privacy-policy" class="hover:text-d2-teal">Privacy Policy</a>
    <a href="/terms-and-conditions" class="hover:text-d2-teal">Terms</a>

    <a
      href="mailto:support@d2health.club?subject=I'd like to join the D2 Health Club"
      class="bg-d2-teal text-d2-gray-dark px-3 py-2 rounded-md font-bold"
      >Join D2</a
    >
  </nav>
</header>
