<header class="px-8 py-4 md:sticky md:top-0 md:bg-d2-gray-dark/80">
  <div
    class="flex flex-col md:flex-row justify-between items-center max-w-7xl mx-auto"
  >
    <a href="/">
      <img
        src="/images/logo.png"
        alt="D2 Health Club Logo"
        class="h-12 w-auto"
      />
    </a>
    <nav
      class="flex flex-wrap gap-4 items-center justify-center md:justify-start"
    >
      <a href="/" class="hover:text-d2-teal transition-colors">Home</a>
      <a href="/support" class="hover:text-d2-teal">App Support</a>
      <a href="/delete-account" class="hover:text-d2-teal">Delete Account</a>
      <a href="/privacy-policy" class="hover:text-d2-teal">Privacy Policy</a>
      <a href="/terms-and-conditions" class="hover:text-d2-teal">Terms</a>

      <a
        href="mailto:support@d2health.club?subject=I'd like to join the D2 Health Club"
        class="bg-d2-teal text-d2-gray-dark px-3 py-2 rounded-md font-bold hover:bg-d2-teal/80 transition-colors"
        >Join D2</a
      >
    </nav>
  </div>
</header>
