<header class="header">
  <nav>
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="D2 Health Club Logo" />
      </a>
    </div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/support">App Support</a>
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-and-conditions">Terms</a>
      <a
        href="mailto:merlin.bergmann@karta.game?subject=I'd like to join the D2 Health Club"
        class="cta-button">Join D2</a
      >
    </div>
  </nav>
</header>
