<div class="flex justify-center gap-4">
    <a href="#">
        <img
            src="/images/appstore.svg"
            alt="Download on the App Store"
            class="h-10"
        />
    </a>
    <a href="#">
        <img
            src="/images/playstore.svg"
            alt="Get it on Google Play"
            class="h-10"
        />
    </a>
</div>
